<html>
  <body>
    <h1>Transaction Response</h1>
    <ul>
      <li>Status - <%= message %></li>
    </ul>
    <a href="/subscriptions?id=<%= customerId %>">Click here to sign this Customer up for a recurring payment</a>
  </body>
</html>
